@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@theme {
  --color-bg: #fffef2;
  --color-card: #fff6d8;
  --color-card-alt: #f4ecc8;
  --color-ink: #1c1c1a;
  --color-ink-soft: #55564a;
  --color-accent: #2f4b3c;
  --color-accent-soft: #d9e6d1;
  --color-line: #1c1c1a;

  --font-display: "Ancizar Serif", serif;
  --font-body: "Instrument Sans", sans-serif;
}

body {
  font-family: var(--font-body);
}